<audio id="cardFlip" src="../assets/sounds/cardPlace1.mp3"></audio>
<audio id="rightPair" src="../assets/sounds/pair.mp3"></audio>
<audio id="gameWin" src="../assets/sounds/sucess.mp3"></audio>

<div id="cardsContainer">
  {{#each model.cards as |instance|}}
    {{game-card card=instance symbol=instance.url onCardClick=(action 'handleCardClick') toggleIsFlipped=(action 'toggleIsFlipped')}}
  {{/each}}
</div>

{{#bs-modal footer=false body=false open=openModal title="You Won!" closedAction="reloadGame" backdropClose=false closeButton=false}}
   <!-- some gif -->
   {{#bs-modal-body}}
    <iframe src="//giphy.com/embed/nXG5HeHEVErza" width="100%" height="380" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/fruits-nXG5HeHEVErza"></a></p>
   {{/bs-modal-body}}
   {{#bs-modal-footer as |footer|}}
    {{#bs-button action=(action 'close' target=footer)}} Play Again {{/bs-button}}
    {{#bs-button action=(action 'backToMainMenu')}} Back To Main Menu {{/bs-button}}
   {{/bs-modal-footer}}
 {{/bs-modal}}
<!--
<div id="gameOver" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4> Game Over </h4>
      </div>
      <div class="modal-body">
        <button {{action 'doRefresh'}}>
          Play Again
        </button>

      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
-->
