<div class="wrapper">
  <audio autoplay loop="loop" id="gameSound" src="../assets/sounds/gamesound.mp3"></audio>
  <div id="buttonsContainer">
    <button type="button" class="btn btn-info btn-lg uibutton" {{action 'toggleGameMusic'}}> Toggle Game Music </button>
    <button id="start" {{action 'backToMainMenu' }} type="button" class="btn btn-info btn-lg uibutton">
        Back To Main Menu
    </button>
  </div>
  <div id="titleContainer">
    <div class="page-header">
      <h1>Fruity Memory <small>The Fruitiest Game On The Web</small></h1>
    </div>
  </div>
</div>


{{outlet}}
