<h4> Please select game difficulty </h4>
{{#link-to 'games.play' 4}}
  4
{{/link-to}}

{{#link-to 'games.play' 6}}
  6
{{/link-to}}

{{#link-to 'games.play' 8}}
  8
{{/link-to}}

{{#link-to 'games.play' 10}}
  10
{{/link-to}}

{{#link-to 'games.play' 12}}
  12
{{/link-to}}
{{outlet}}
